@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background-color: lightslategray;
}

p {
  font-size: 14px;
  color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    margin:10px 0;
}

#header {
    font-family: 'Dancing Script', cursive;
    align-items: center;
    width: 100%;
    max-height: fit-content;
    background-color: lightslategray;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flex-container {
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: darkslategrey;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
  }
  
  .flex-item {
    background: white;
    padding: 5px;
    width: 330px;
    height: 710px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    border-radius: .2em;
  }

  #homepane {
    background: darkslategray;
    height: 600px;
    justify-content: center;
  }

  #menu-bar {
    background: darkslategrey;
    padding: 1px;
    width: 330px;
    height: 350px;
    margin-top: 25px;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: .2em;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }
  
  #intro-pane{
    background: darkslategrey;
    padding: 1px;
    width: 330px;
    height: 500px;
    margin-top: 25px;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: .2em;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

  #intro-text {
    padding: 20px;
  }

  #intro-text-border {
    border: 1px solid white;
    border-radius: .5em;
  }

  img, iframe {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#user {
    text-align: center;
    color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

#login-message {
    text-align: center;
    color: white;
    padding-bottom: 5px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin-block-start: 10px;
    margin-bottom: 10px;
}

#button-border {
    border: 1px solid white;
    width: 80px;
    height: 40px;
    border-radius: .5em;
    margin-left: 20px;
}

#login-info {
    align-items: center;
}

#folio-title {
    color: white;
    font-size: 35px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.folio-text {
    color: white;
    font-size: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#currently-selected {
    color: yellow;
}

#my-folios {
    color: white;
    font-family: 'Dancing Script', cursive;
}

.folio-name {
    font-size: 20px;
    text-decoration: none;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}
.folio-title {
    font-size: 35px;
    text-decoration: none;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

#folio-menu {
    text-align: center;
    background: darkslategray;
    height: auto;
}
#quartet-menu {
    text-align: center;
    background: darkslategray;
    height: auto;
}

.create-link-div {
    margin-top: 30px;
    font-size: 27px;
    color: white;
}

.create-link {
    color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

.folio-name > a {
    font-size: 20px;
    text-decoration: none;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

a {
    text-decoration: none;
}

.folio-name-group {
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: .2em;
}

.folio-delete-link {
    font-size: 12px;
    margin-top: 0px;
    color: white;
    border: 1px solid white;
    border-radius: .2em;
}

a:visited { 
    text-decoration: none; 
}

#new-quartet-link {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 35px;
    color: white;
    border: 2px solid white;
    border-radius: .2em;
}

.quartet-link {
    color: white;
    margin: 20px;
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.folio-link {
    color: white;
    font-size: 25px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border: 2px solid white;
    border-radius: .2em;

}

.folio-return-link {
    color: white;
    font-size: 25px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border: 2px solid white;
    border-radius: .2em;
    padding: 0;
}

.new-entry-text {
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: darkslategray;

}

.new-entry-link {
    color: black;
    text-decoration: none; 
    font-size: 15px;;
    border: 2px solid black;
    border-radius: .2em;
    margin-bottom: 10px; 
}

.new-entry-options{
    text-align: center;
}

.new-entry-group {
    border: 1px solid darkslategray;
}

.quartet-name {
    font-weight: normal;
    font-size: 40px;
}

.entry-delete-link {
    font-size: 15px;
    margin-bottom: 15px;
    color: black;
    border: 1px solid black;
    border-radius: .2em;
}

.login-name {
    color: white;
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin-bottom: 10px;
    /* margin-left: 10px;; */
}

.login-item {
    color: white;
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border: 2px solid white;
    border-radius: .2em;
    margin: 10px 10px 10px 10px;
}

.login-menu {
    align-items: center;
}

.title {
    font-size: 35px;
}

.spacer {
    color: lightslategray;
}

.no-folios {
    font-weight: normal;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
}

.entry-text {
    font-weight: normal;
    font-size: 20px;
}

.entry-annotation {
    font-weight: normal;
    font-size: 25px;
}

.delete-confirmation {
    color: white;
}

.form-wrapper {
    width: 20%;
    margin: 0 auto;
}
