{% extends 'base.html' %}
{% block content %}
    <div class = "wrapper">
        <div class="flex-container">
            <div class="flex-item">Quartet 1</div>
            <div class="flex-item">Quartet 2</div>
            <div class="flex-item">Quartet 3</div>
            <div class="flex-item">Quartet 4</div>
            <div id="menu-bar">
                Current Folio
                <div #id="folio">
                    <h2 id="folio-heading"></h2>
                    <div id="folio-content">
                        <p id="folio-title">Folio Title</p>
                        <p class="folio-text">Quartet 1 Title</p>
                        <p class="folio-text">Quartet 2 Title</p>
                        <p class="folio-text">Quartet 3 Title</p>
                        <p class="folio-text">Quartet 4 Title</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}