{% extends 'base.html' %}
{% block content %}
<div class = "wrapper">
    <div class="flex-container" id="folios_container">
        {% for entry in quartet.entries.all %}
            <div class="flex-item"><p>{{ entry.text }}</p></div>
        {% endfor %}
        {% if quartet.entries.all|length < 4 %}
            <div class="flex-item"><p>new entry</p></div>
        {% endif %}
        <div id ="menu-bar">         
            <a class="quartet-link" href="{% url 'quartet_update' quartet.folio.pk quartet.pk %} "> <h3>{{ quartet.name }}</h3></a>
            <a class="folio-link" href="{% url 'folio_detail' quartet.folio.pk %}">BACK TO FOLIO</a>
        </div>
    </div>
</div>
{% endblock %}